RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY_HERE
OPENSEA_API_KEY=your_opensea_key_here
COLLECTION_SLUG=rockateral
CONTRACT_ADDRESS=0x201ed6c53fe2ab2eaa7550a3cff0c06bf410781c
CACHE_TTL_SECONDS=120